@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="font-size: 120px">MyFlix Project</h1>
    @Html.ActionLink("Register", "Register", "Home", null, new { @class = "btn btn-primary" })
</div>