@model Webb.Models.User
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">dupa</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
@using (Html.BeginForm("Submit", "Home"))
{
    @Html.LabelFor(m => m.Username)
    @Html.TextBoxFor(m => m.Username, null, new { @class = "form-control" })
    @Html.LabelFor(m => m.Password)
    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
    <input type="submit" value="Login" />
}