@model Webb.ViewModels.MoviesViewModel
@{
    ViewData["Title"] = "Movies";
    Layout = "~/Views/Shared/_LayoutLogged.cshtml";
}

<h1>MyFlix Movies</h1>
<div class="text-center">
    <div style="text-align: left; font-size: 24px;"></div>
    @foreach (var genre in Model.Genres)
    {
        <div style="text-align: left; font-size: 24px;">@genre.GenreName</div>
        <ul class="movie-group">
            @foreach (var movie in Model.Movies.Where(m => m.GenreName == genre.GenreName))
            {
            <li>
                @Html.ActionLink(movie.Name, "Player", movie)<br/>
                <i class="material-icons movie-icon">
                    movie
                </i>
            </li>
            }
        </ul>
        <div style="clear:both"></div>
    }
</div>
