/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
	font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}
.movie-group li {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	float: left;
	width: 20%;
	list-style-type: none;
	height: 80px;
	border-radius: 2px;
	margin: 2px;
	padding-top: 20px;
	/*background-color: #2AB3D2;*/
}
.movie-group li:hover {
	background-color: #272B30;
}
.field-validation-error {
	color:red;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type=number] {
	-moz-appearance: textfield;
}
#poster {
	float: left;
	padding: 5px;
}
.details {
	float: left;
}
h1 {
	font-size: 60px;
}
#voting {
	margin: 20px;
}
.material-icons {
	font-size: 48px !important;
}
.thumb_up:hover {
	color: green;
}
.thumb_down:hover {
	color:red;
}
#results {
	font-size: x-large;
}
.movie-icon {
	font-size: 26px !important;
	color: white !important;
}