@model Webb.ViewModels.CreatePlaylistViewModel
@{
    ViewData["Title"] = "CreatePlaylist";
    Layout = "~/Views/Shared/_LayoutLogged.cshtml";
}

<h1>Create a playlist</h1>
@using (Html.BeginForm("Create", "Movies"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Playlist.PlaylistName)
        @Html.TextBoxFor(m => m.Playlist.PlaylistName, null, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Playlist.PlaylistName)
    </div>
    <div class="form-group">
        @Html.DropDownListFor(m => m.Playlist.MoviesIds, new SelectList(Model.Movies, "Id", "Name"),  "Select a movie to add to playlist", new { @class = "form-control" })
    </div>
}
